<div class="container">
  <h1 class="text-center">web前端笔试编程题</h1>
  <div class="">
    <h4>1.截取abcdefg中的efg</h4>
    <p>{{str}}</p>
  </div>
  <div>
    <h4>2.判断一个字符串中出现次数最多的字符，统计这个次数</h4>
    <p>{{string}}===>>{{max}}</p>
  </div>
  <div>
    <h4>3.IE 和 FF下兼容性问题</h4>
    <p>
      (1)IE：有window.event，FF：没有window.event<br>
      所以用var = event || window.event;
    </p>
    <p>
      (2)target 和 srcElement
    </p>
    <p>
      (3)FF : addEventListener("click",function,isCapture_boolean);
      IE : attachEvent("onclick",function);
    </p>
  </div>
  <div>
    <h4>4.编写一个方法,去掉一个<span class="color-red">数组</span>的重复元素</h4>
    <p>
      {{arr}}------->{{arr_new}}
    </p>
    <h5>拓展：</h5>
    <p>
      数组的方法：push/pop(stack),shift/unshift(queue),concat,slice,splice,reverse
      其中slice不影响arr数组
    </p>
    <p>
      判断是否是数组的方法：Object.prototype.toString.call(arr) == "[object Array]"
    </p>
  </div>

  <div>
    <h4>6.JavaScript中如何检测一个变量是一个<span class="color-red">String类型</span>？请写出函数实现</h4>
    <p></p>
  </div>

  <div>
    <h4>5.写出3个使用this的典型应用</h4>
  </div>
  <div>
    <h4>7.在表单(form1)中有一个文本框元素(fname)，用于输入电话号码，格式如：010-82668155， 要求前3位是010，紧接一个“-”，后面是8位数字。要求在提交表单时，根据上述条件验证该文本框中输入内容的有效性</h4>
      reg = /010-[0-9]{8}/<br>
      reg = new RegExp("010-[0-9]{8}")
  </div>
  <div>
    <h4>8.关于正则表达式声明6位数字的邮编</h4>
    <p>
      reg = /\d{6}/这个是对的<br>
      reg = new RegExp("\d{6}");------>正确的写法是reg = new RegExp("\\d{6}");(很容易出错哦~~~)
    </p>
  </div>
  <div>
    <h4>9.写出简单描述html标签（不带属性的开始标签和结束标签）的正则表达式，并将以下字符串中的html标签去除掉</h4>
    <p>
      reg = /<\/?\w+\/?>/gi
    </p>
  </div>
  <div>
    <h4>10.js中的cookies</h4>
    <p>
      //使用示例
      setCookie("name","hayden");
      alert(getCookie("name"));
    </p>
  </div>
  <div>
    <h4>11.ajax核心</h4>
  </div>
</div>
